@CHARSET "UTF-8";

.header_container{
	border-radius: 4px 4px 4px 4px;
	background-color: #dddddd;
	margin-top: 5px;
	background-image: url('/images/background_header.png');
}

.first_row_header{
	padding-left: 10px;
}

.line{
	margin-bottom: 10px !important;
}
.line-top{
	margin-top: 10px !important;
}

.hide{
	display: none;
}

.left{
	text-align: left;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.bold{
	font-weight: bold;
}

label.error_validation{
	font-weight: bold;
}

.align_to_fields{
	margin-left: 50px;
}
label.error_validation{
	color: #B94A48;
}

/*ALERT MESSAGES*/
.alert_messages_container{
	bottom: -21px;
    position: fixed;
    right: 0;
    z-index: 1001;
	width: 300px;
}

.floating_alert{
	z-index:999;
}

.size_alerts{
	padding: 30px;
}

ul#alerts{
	list-style: none;
}

ul#alerts.alerts_section_bar{
	margin-bottom: 5px;
}
/*END ALERT MESSAGES*/

/*INSTALLER LEGEND*/
.installer_legend_container{
	background-color: #f0f0f0;
	border-radius: 4px 4px 4px 4px;
	padding-top: 10px;
}

ul.install_process{
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
        padding: 0px;
}
ul.install_process li{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
}
ul.install_process li.header{
	border-bottom: 1px solid #DDDDDD;
}
span.step_title{
	display: block;
    margin-top: -20px;
    padding-left: 20px;
}
div.installer_option{
    padding: 2px;
}

div.installer_option.selected{
    background-color: #4292D7;
    font-weight: bold;
    color: #FFFFFF;
}

/*END INSTALLER LEGEND*/

/*LOADER SPINER*/
#loader_spinner{
	display: none;
}
#ajax_bg_loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: #505050;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

div.ajax_loader{
	position:absolute !important;
	z-index: 100000 !important;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
	color: #FFFFFF;
}
/*END LOADER SPINER*/

/*EXPRESS WEBSITE CONFIG*/
a.website_config_header{
	font-size: 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
a.website_config_header:hover{
	text-decoration: none;
}
.website_config_content{
	padding-top:10px;
}
.accordion-heading{
	background-color: #4292D7;
	border-radius: 4px 4px 0px 0px;
}
.accordion-inner{
	background-color: #F7F7F9;
}
.grey{
	color: #6e6e6e;
	padding-top: 5px;
}
.form_label{
	text-align: right;
}
.form_field{
	text-align: left;
}
/*template list*/
ul.template_list{
	list-style: none outside none;

}
ul.template_list li{
	float: left;
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 40px;
}

ul.template_list li img{
	display: block;
	margin-bottom: 10px;
	max-height: 145px;
	max-width: 130px;
}
ul.template_list li img.border_image{
	 border:1px solid #000;
}
ul.template_list li div.no_image{
	height: 141px;
	width: 130px;
	margin-bottom: 10px;
}
/* end template list*/
/*END EXPRESS WEBSITE CONFIG*/